<!DOCTYPE html>
<!-- saved from url=(0056)http://SamCenter-html.blackwind.vn/bw_page/viewBills.html -->
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Thông báo</title>
</head>

<body style="margin: 0; padding: 0; font-size: 13px; background: #f2f2f2; font-family:system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;" cz-shortcut-listen="true">
  <div style="
        background: linear-gradient(90deg, #b6b6b6, #9d998d, #d2d2c6);
        background-size: 100% auto;
        min-height: 100vh;
      ">
    <div style="
          max-width: 210mm;
          width: 210mm;
          max-height: 297mm;
          height: 297mm;
          margin: 0 auto;
          background: #fff;
          position: relative;
        ">
            <!-- padding: 0; -->
            <!-- padding: 0 20px; -->
      <div style="
            margin: 0 auto;
            overflow: hidden;
            padding: 20px;
            padding-top: 5px;
            background: url(https://erp.shopdunk.com//file/e0657c32-3c7e-492b-8352-66eb1426cb6f.jpeg);
            background-size: cover;
            height: 150px;
          "></div>
      <div style="padding: 20px 30px">
        <h3 style="margin: 0; padding: 0; font-size: 13px">
          SamCenter xin xác nhận thông tin của bạn như sau:
        </h3>
        <div style="background: #eeeeee; padding: 7px 14px; margin-top: 10px">
          <table style="
                width: 100%;
                border: none;
                border-spacing: 0;
                font-size: 12px;
                margin: 0;
                padding: 0;
              ">
            <tbody>
              <tr style="width: 100%">
                <td style="padding: 5px 0" colspan="3">
                  Sản phẩm: <%= data.product_name %>
                </td>
              </tr>
              <tr style="width: 100%">
                <td style="padding: 5px 0; width: 35%">
                  Dung lượng: <%= data.storage %>
                </td>
                <td style="padding: 5px 0; width: 35%">
                  Màu sắc: <%= data.color %>
                </td>
                <td style="padding: 5px 0">
                  Ngày đặt cọc: <%= data.created_date %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="background: #eeeeee; padding: 7px 14px; margin-top: 5px">
          <table style="
                width: 100%;
                border: none;
                border-spacing: 0;
                font-size: 12px;
                margin: 0;
                padding: 0;
              ">
            <tbody>
              <tr style="width: 100%">
                <td style="padding: 5px 0" colspan="2 ">
                  Tên khách hàng: <%= data.customer_name %>
                </td>
              </tr>
              <tr style="width: 100%">
                <td style="padding: 5px 0; width: 50%">
                  Địa chỉ: <%= data.customer_address %>
                </td>
                <td style="padding: 5px 0">Số điện thoại: <%= data.phone_number %></td>
              </tr>
              <tr>
                <td colspan="2 " style="border-bottom: 2px solid #fff; padding: 5px 0"></td>
              </tr>
              <tr style="width: 100%">
                <td style="padding: 5px 0; width: 50%; padding-top: 10px">
                  Địa chỉ cửa hàng: <%= data.store_address %>
                </td>
              </tr>
              <tr style="width: 100%">
                <td style="padding: 5px 0">Nhân viên: <%= data.created_user %></td>
                <td style="padding: 5px 0; width: 50%">
                  Mã đặt hàng: <%= data.lot_number %>
                </td>
              </tr>
              <tr style="width: 100%">
                <td style="padding: 5px 0">
                  Hình thức thanh toán: <%= data.payment_type %>
                </td>
                <td style="padding: 5px 0">
                  Mã khuyến mãi / Quà tặng: <%= data.coupon_code %>
                </td>
              </tr>
              <tr style="width: 100%">
                <td style="padding: 5px 0">Tổng tiền: <%= data.total_money %></td>
                <td style="padding: 5px 0">Đã cọc: <%= data.pre_money %></td>
              </tr>
              <tr style="width: 100%">
                <td style="padding: 5px 0" colspan="2 ">
                  Cần phải thanh toán: <%= data.total_amount %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <h4 style="margin: 0; padding: 0; margin-top: 15px; font-size: 13px">
          Chương trình đặt cọc Samsung Galaxy Z Fold6 | Z Flip6
        </h4>
        <ul style="padding-left: 20px; margin: 0">
          <li style="
                list-style: circle;
                margin: 5px 0;
                font-size: 12px;
                padding-right: 10px;
              ">
            Thời gian đặt cọc: Từ 20h00 ngày 11/07/2024 - đến hết 18h ngày 26/07/2024.
          </li>
          <li style="
                list-style: circle;
                margin: 5px 0;
                font-size: 12px;
                padding-right: 10px;
              ">
            Thời gian trả hàng: Từ 26/07/2024
          </li>
          <li style="
                list-style: circle;
                margin: 5px 0;
                font-size: 12px;
                padding-right: 10px;
              ">
            Số tiền cọc 1.000.000 VND.
          </li>
        </ul>
        <h4 style="margin: 0; padding: 0; margin-top: 15px; font-size: 13px">
          Quy định về giao nhận hàng hoá
        </h4>
        <div style="overflow: hidden">
          <!-- <div style="width: 50%; float: left"> -->
          <div>
            <ul style="padding-left: 20px; margin: 0">
              <li style="
                    list-style: circle;
                    margin: 5px 0;
                    font-size: 12px;
                    padding-right: 10px;
                  ">
                Thứ tự nhận hàng sẽ phụ thuộc vào thời gian tiền đặt cọc được
                ghi nhận vào hệ thống của SamCenter.
              </li>
              <li style="
                    list-style: circle;
                    margin: 5px 0;
                    font-size: 12px;
                    padding-right: 10px;
                  ">
                Thời gian nhận hàng sẽ được SamCenter thông báo qua tin nhắn
                hoặc email đến thông tin khách hàng đã đăng ký.
              </li>
              <li style="
                    list-style: circle;
                    margin: 5px 0;
                    font-size: 12px;
                    padding-right: 10px;
                  ">
                Khách hàng đến chi nhánh SamCenter đã đăng ký để nhận sản phẩm
                đã cọc. Mang theo phiếu đặt cọc hoặc số điện thoại đã đăng ký
                để nhận máy.
              </li>
              <li style="
                    list-style: circle;
                    margin: 5px 0;
                    font-size: 12px;
                    padding-right: 10px;
                  ">
                Khách hàng nhận máy từ ngày 26/07/2024 đến hết ngày 15/08/2024.
              </li>
            </ul>
          </div>
          <div>
            
          </div>
        </div>
        <h4 style="margin: 0; padding: 0; margin-top: 5px; font-size: 13px">
          Lưu ý
        </h4>
        <ul style="padding-left: 20px; margin: 0; font-style: italic">
          <li style="
                list-style: circle;
                margin: 5px 0;
                font-size: 12px;
                padding-right: 10px;
              ">
            Trường hợp trả hàng sau 15/08/2024:
          </li>
        </ul>
        <ul style="padding-left: 20px; margin: 0; font-style: italic">
          <li style="
              list-style: circle;
              margin: 5px 0;
              font-size: 12px;
              padding-right: 10px;
              ">
            Trong trường hợp SamCenter chưa có hàng để trả cho quý khách: 
            Khách hàng gia tăng thời hạn nhận máy sẽ được tặng
            Voucher 200.000VND mua phụ kiện (áp dụng cho đơn hàng có giá
            trị tối thiểu 500.000VND). Hoặc SamCenter hoàn lại số tiền đã
            đặt cọc.
          </li>
        </ul>
        <ul style="padding-left: 20px; margin: 0; font-style: italic">
          <li style="
              list-style: circle;
              margin: 5px 0;
              font-size: 12px;
              padding-right: 10px;
          ">
            Trong trường hợp SamCenter đã thông báo thời gian nhận hàng
            trong giai đoạn từ 26/07/2024 đến hết ngày 15/08/2024 nhưng
            khách hàng không nhận sản phẩm và yêu cầu hoàn tiền cọc:
            SamCenter sẽ hoàn cọc sau ngày 15/08.
          </li>
        </ul>
        <ul style="padding-left: 20px; margin: 0; font-style: italic">
          <li style="
                list-style: circle;
                margin: 5px 0;
                font-size: 12px;
                padding-right: 10px;
              ">
            Quý khách vui lòng kiểm tra các thông tin đã đăng ký (Họ tên, SĐT,
            email, chi tiết sản phẩm,...) SamCenter không hỗ trợ chỉnh sửa
            thông tin đã đăng ký.
          </li>
          <li style="
                list-style: circle;
                margin: 5px 0;
                font-size: 12px;
                padding-right: 10px;
              ">
            Quý khách không cung cấp thông tin đã đặt cọc cho bất kỳ ai để đảm
            bảo quyền lợi của khách hàng.
          </li>
          <li style="
                list-style: circle;
                margin: 5px 0;
                font-size: 12px;
                padding-right: 10px;
              ">
            Nếu khách hàng không nhận sản phẩm trong thời gian đã được thông
            báo, SamCenter sẽ không chịu trách nhiệm giữ máy và thứ tự đặt
            cọc. SamCenter sẽ gửi đến quý khách thông báo về thời gian nhận
            sản phẩm cho đợt trả hàng kế tiếp.
          </li>
        </ul>
        <table style="
              width: 100%;
              border: none;
              border-spacing: 0;
              font-size: 13px;
              margin: 0;
              padding: 0;
              margin-top: 10px;
            ">
          <tbody>
            <tr style="width: 100%">
              <td style="padding: 5px 0; text-align: center; width: 33.3333333%">
                <b style="font-size: 12px">Quản lý cửa hàng</b><br /><i style="font-size: 12px">(Ký và họ tên)</i>
              </td>
              <td style="padding: 5px 0; text-align: center; width: 33.3333333%">
                <b style="font-size: 12px">Thu ngân</b><br /><i style="font-size: 12px">(Ký và họ tên)</i>
              </td>
              <td style="padding: 5px 0; text-align: center; width: 33.3333333%">
                <b style="font-size: 12px">Khách hàng xác nhận</b><br /><i style="font-size: 12px">(Ký và họ tên)</i>
              </td>
            </tr>
            <tr style="width: 100%">
              <td style="padding: 5px 0; text-align: center; width: 33.3333333%"></td>
              <td style="padding: 5px 0; text-align: center; width: 33.3333333%"></td>
              <td style="padding: 5px 0; text-align: center; width: 33.3333333%">
                <% if (!!data.signature) { %>
                <img id="signature" style="max-width: 100%; height: 18mm" src="<%= data.signature %>" />
                <% } %>
              </td>
            </tr>
          </tbody>
        </table>
        <div style="
              padding: 0px 14px;
              margin-top: 10px;
              overflow: hidden;
              position: absolute;
              bottom: 30px;
              left: 30px;
              right: 30px;
              padding-top: 7px;
              border-top: 1px solid #ddd;
            ">
          <div style="
                width: calc(100% - 120px);
                float: right;
                padding-left: 10px;
              ">
            <p style="margin: 0; padding: 0; font-size: 12px; margin-top: 2px">
              Truy cập <b>Samcenter.vn</b> hoặc liên hệ Hotline
              <b>1800.4886</b> để biết thêm chỉ tiết
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>